<div class="footer__bet-box bet-box">
	<div class="bet-box__body">
		<button type="button" data-button="bet-minus" class="bet-box__button _fw-800">-</button>
		<div class="bet-box__bet _bet _fz-14 _fw-600">0</div>
		<button type="button" data-button="bet-plus" class="bet-box__button _fw-800">+</button>
	</div>
</div>