<div class="main__final final">
	<div class="final__body">
		<div class="final__title _fz-45 _fw-800">You win!!!</div>
		<div class="final__score _fz-45 _fw-800">0</div>
		<div class="final__button-box">
			<button type="button" data-button="final-menu" class="final__button button _fz-14 _fw-700"><span>Menu</span>
			</button>
		</div>
	</div>
</div>