<div data-screen="slot-@@name" class="wrapper__slot slot">
	<div class="slot__body">
		<div class="slot__game">
			<div class="slot__box">
				<button type="button" data-button="slot-home" class="slot__button-home button-home"></button>
				<div class="slot__score-box score-box">
					<div class="score-box__body  _fz-13 _fw-700">
						<div class="score-box__icon icon-game"></div>
						<div class="score-box__score score">0</div>
					</div>
				</div>
				<div class="slot__cont">
					<div data-slot-box id="slot@@name" class="slot@@name">
						<div data-reels id="reels@@name" class="reels@@name">
							<div data-reel class="reel@@name"></div>
							<div data-reel class="reel@@name"></div>
							<div data-reel class="reel@@name"></div>
							<div data-reel class="reel@@name"></div>
							<div data-reel class="reel@@name"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="slot__footer footer">
				<div class="footer__body">
					<div class="footer__bet-box bet-box">
						<div class="bet-box__body">
							<button type="button" data-button="bet-minus" class="bet-box__button _fw-800"></button>
							<div class="bet-box__bet _bet _fz-24 _fw-700">0</div>
							<button type="button" data-button="bet-plus" class="bet-box__button _fw-800"></button>
						</div>
					</div>
					<button type="button" data-button="spin-@@name"
						class="slot__button-spin button-spin _fz-28 _fw-700 _upper"><span>SPIN</span></button>

				</div>
			</div>

		</div>
	</div>
</div>