.bet-box {
	transition: all 0.3s ease 0s;

	&._hold {
		opacity: 0.5;
		pointer-events: none;
	}
	// .bet-box__body

	&__body {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 25px;

		min-width: 182px;
		height: 35px;

		padding-inline: 5px;
		.game & {
			min-width: 135px;
		}
	}

	&__count-box {
		padding-inline: 13px 27px;
		.game & {
			padding-inline: 5px;
		}
	}

	&__count {
		position: relative;
		min-width: 33px;
		text-align: center;

		&::before {
			content: "Bet";
			position: absolute;
			top: -18px;
			left: 50%;
			transform: translateX(-50%);

			font-weight: 800;
			font-size: 14px;
			line-height: 1.25;
			text-transform: uppercase;
		}
		.game & {
			&::before {
				content: "RATE";
			}
		}
	}

	&__bet {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 131px;
		height: 42px;

		border-radius: 26px;
		border: 1px solid #fff;
		background-image: linear-gradient(180deg, #386de7 0%, #163ea4 100%);

		color: #fff;
	}

	// .bet-box__minus

	&__button {
		width: 42px;
		height: 42px;
		border-radius: 50%;

		border: 1px solid #fff;
		&[data-button="bet-minus"] {
			background: url("@img/slot/minus.svg") center / 27px 3px no-repeat,
				linear-gradient(180deg, #386de7 0%, #163ea4 100%);
		}
		&[data-button="bet-plus"] {
			background: url("@img/slot/plus.svg") center / 27px 27px no-repeat,
				linear-gradient(180deg, #386de7 0%, #163ea4 100%);
		}

		transition: all 0.3s ease 0s;

		span {
			position: relative;
			top: -2px;
		}

		&:active {
			transform: translateY(2px);
		}
	}
}
