.final {
	position: absolute;
	z-index: 15;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	opacity: 0;
	visibility: hidden;
	transform: scale(0.8);

	transition: all 0.5s ease 0s, background-color 0.5s ease 0.25s;

	&._visible {
		opacity: 1;
		visibility: visible;
		background-color: rgba(12, 23, 40, 0.76);
		transform: scale(1);
	}

	// .final__body

	&__body {
		position: relative;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		row-gap: 10px;

		width: 300px;
		height: 300px;

		background-image: url("@img/other/bg-about.png");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;

		padding-block: 20px;
	}

	&__image {
	}

	&__score-box {
	}

	&__button-box {
		display: flex;
		justify-content: center;
		column-gap: 5px;
	}
	&__button {
	}
}
