* {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
											supported by Chrome, Edge, Opera and Firefox */
}

.main {
	// .main__body

	&__body {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;

		min-height: 100vh;

		transition: all 0.7s ease 0.3s;
		._news-screen &,
		._slot & {
			opacity: 0;
			visibility: hidden;
			transform: translateX(-20px);
		}
	}

	// .main__buttons

	&__buttons {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		row-gap: 25px;
	}

	// .main__button

	&__button {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 340px;
		height: 55px;
	}
}

.screen-news {
	position: absolute;
	top: 0;
	left: 0;

	display: flex;

	width: 100%;
	height: 100%;

	opacity: 0;
	visibility: hidden;
	transform: translateX(20px);

	transition: all 0.7s ease 0.3s;
	._news-screen & {
		opacity: 1;
		visibility: visible;
		transform: translateX(0);
	}

	// .screen-news__body

	&__body {
		position: relative;

		display: flex;
		column-gap: 15px;

		width: 100%;

		padding-inline: 13px;
	}

	&__button-box {
		padding-top: 17px;
	}

	&__items {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		row-gap: 50px;
		max-height: 100vh;

		overflow-y: auto;
		padding-block: 17px 60px;
	}

	&__item {
	}
}

.item-screen-news {
	display: flex;
	justify-content: center;
	&__body {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 20px;

		width: 582px;

		padding: 25px 26px 15px;

		border-radius: 15px;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

		._1 & {
			background-image: url("@img/news/news-1.png");
		}
		._2 & {
			background-image: url("@img/news/news-2.png");
		}
		._3 & {
			background-image: url("@img/news/news-3.png");
		}
		._4 & {
			background-image: url("@img/news/news-4.png");
		}
		._5 & {
			background-image: url("@img/news/news-5.png");
		}
	}
	&__title {
		color: #fff;
		-webkit-text-stroke: 1px rgba(22, 62, 164, 1);
	}

	&__text {
		border-radius: 18px;
		background: rgba(255, 255, 255, 0.71);
		backdrop-filter: blur(3.5px);

		padding: 5px 11px 27px;

		color: #242424;
		text-align: center;
	}
}

//========================================================================================================================================================

//========================================================================================================================================================
._bg-item {
	border-radius: 28px;
	border: 4px solid #c0f3e8;
	background-image: linear-gradient(180deg, #3faaf0 0%, #3064ca 100%);
	color: #fff;
}

._bg-button {
	border-radius: 13px;
	border: 3px solid #fff;
	color: #fff;
}

.score-box {
	// .score-box__body

	&__body {
		position: relative;

		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 15px;

		min-width: 150px;
		height: 25px;

		border-radius: 23.352px;
		border: 1.46px solid #2f2f2f;
		background-color: rgba(248, 248, 248, 0.73);

		padding-inline: 25px 40px;

		transition: all 0.3s ease 0s;

		&._hold {
			opacity: 0.5;
			pointer-events: none;
		}
	}

	// .score-box__score
	&__score {
		color: #000;
	}

	&__score,
	&__icon {
		position: relative;
		z-index: 2;
	}
}

.icon-game {
	width: 25px;
	height: 22px;

	background-image: url("@img/icons/coin.svg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.header {
	// .header__body

	&__body {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;

		border-radius: 5px;
		border: 1px solid #fff;
		background-color: rgba(43, 36, 22, 0.25);

		padding: 9px 5px;
	}

	// .header__button

	&__button {
		&[data-button="privacy"] {
			width: 182px;
			height: 50px;
		}
	}

	// .header__score-box

	&__score-box {
	}

	&__title {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		color: #fff;
	}
}

._pl-25 {
	padding-left: 25px;
}

//====================================================================================================
@keyframes no-money {
	0% {
		color: #fff;
	}
	100% {
		color: rgb(255, 1, 1);
		transform: scale(1.1);
	}
}
@keyframes delete-money {
	0% {
		color: #fff;
	}
	100% {
		color: rgb(255, 103, 103);
		transform: translateY(3px);
	}
}
@keyframes add-money {
	100% {
		color: rgb(204, 254, 3);
		transform: translateY(-3px);
	}
}
@keyframes jump_icon {
	0%,
	69% {
		transform: translate(0, 0);
	}
	77% {
		transform: translate(0, -10px);
	}
	80% {
		transform: translate(0px, 0px);
	}
	82% {
		transform: translate(0px, -6px);
	}
	85% {
		transform: translate(0px, 0px);
	}
	87% {
		transform: translate(0px, -2px);
	}
	90% {
		transform: translate(0px, 0px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}
@keyframes scale_icon {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.2);
	}
}
@keyframes rotate_icon {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}
@keyframes rotate_icon-2 {
	0% {
		transform: rotate(0deg);
		right: 0;
	}
	70% {
		transform: rotate(-360deg);
		right: 100px;
	}
	100% {
		transform: rotate(0deg);
		right: 0;
	}
}
