.slot {
	position: absolute;
	top: 0;
	left: 0;

	display: flex;

	width: 100%;
	height: 100%;

	transform: translateX(20px);

	opacity: 0;
	z-index: -1;

	transition: all 0.7s ease 0.3s;

	._slot & {
		opacity: 1;
		z-index: 10;
		transform: translateX(0);
	}

	// .slot__body

	&__body {
		position: relative;

		display: flex;
		flex-direction: column;

		width: 100%;
		min-height: 100%;

		background: url("@img/slot/bg.png") center / cover no-repeat, url("@img/other/bg.png") 0% 10% / cover no-repeat;
	}

	&__button-home {
		position: absolute;
		z-index: 5;
		top: 18px;
		left: 25px;
	}

	&__score-box {
		position: absolute;
		top: 18px;
		right: 25px;
	}

	&__game {
		position: relative;

		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
	}

	// .slot__box

	&__box {
		position: relative;

		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;

		width: 100vw;

		padding: 35px 13px;
		@media (min-width: 700px) and (min-height: 700px) {
			justify-content: center;
		}
	}

	// .slot__cont

	&__cont {
		position: relative;
		z-index: 2;
	}

	&__frame {
		position: absolute;
		top: 39%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		transition: all 0.3s ease 0.5s;
		img {
			width: 100%;
		}
		@media (min-width: 700px) and (min-height: 700px) {
			top: 45%;
		}
	}

	&__footer {
		margin-bottom: 50px;
		@media (max-height: 700px) {
			margin-bottom: 10px;
		}
	}

	&__button-spin {
		&._hold {
			opacity: 0.5;
			pointer-events: none;
		}
	}
}

[data-slot-box] {
	position: relative;

	flex: 1 1 auto;

	display: flex;
	justify-content: center;
	align-items: flex-start;

	width: 100%;
}

[data-reels] {
	position: relative;

	display: flex;
	justify-content: center;

	height: calc((5 / 3) * 100vw);

	max-width: calc(2.2 * (90vh - 50px));
}

.reels1 {
	column-gap: 25px;
	width: 50vw;
	max-height: 29vw;

	border-radius: 23.352px;
	border: 1.46px solid #2f2f2f;
	background: rgba(248, 248, 248, 0.82);

	padding-inline: 15px;
	@media (max-width: 750px) {
		column-gap: 20px;
	}
	@media (max-width: 650px) {
		column-gap: 15px;
	}

	@media (min-width: 700px) and (min-height: 700px) {
		width: 70vw;
		max-height: 49vw;
	}
}

[data-reel] {
	position: relative;
	overflow: hidden;
	z-index: 5;
	width: 20%;
	height: 100%;
	padding-top: 3px;

	.icons {
		position: relative;
		z-index: 3;
		text-align: center;
		padding-top: 3px;

		img {
			position: relative;
			width: calc(100% - 5px);
			margin: -3px 0 10px -3px;
			height: auto;

			transform: translate3d(0, 0, 0);
		}
	}
}

.reel1 {
}

[data-slot-box].inverted .reel {
	transform: scaleY(-1);
}

[data-slot-box].inverted .reel > .icons > img {
	transform: scaleY(-1);
}

.footer {
	position: relative;
	z-index: 5;
	// .footer__body

	&__body {
		display: grid;
		grid-template-columns: 1fr 150px;
		align-items: center;
		justify-items: center;

		padding-inline: 30px;
	}
	&__bet-box {
		position: relative;
		left: 70px;
		@media (max-width: 650px) {
			left: 20px;
		}
	}
}

.button-spin {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 140px;
	height: 43px;

	border-radius: 26px;
	border: 1px solid #fff;
	background-image: linear-gradient(180deg, #386de7 0%, #163ea4 100%);

	color: #fff;

	transition: all 0.3s ease 0s;

	&:active {
		transform: translateY(2px);
	}

	&._hold {
		opacity: 0.5;
		pointer-events: none;
	}
}
.button-auto {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 281px;
	height: 59px;

	border-radius: 50px;
	background: linear-gradient(180deg, #ebf8fd 0%, #86c4dd 100%);

	box-shadow: 0px 6px 2px 0px #12011c, 0px 4px 0px 0px #106ea3;
	span {
		background-image: linear-gradient(rgba(49, 79, 95, 1), rgba(5, 109, 161, 1));

		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		filter: drop-shadow(0px 1px 0px #e9f4fe);
	}

	transition: all 0.3s ease 0s;

	&:active {
		transform: translateY(3px);
		box-shadow: 0px 3px 2px 0px #12011c, 0px 1px 0px 0px #106ea3;
	}

	&._hold {
		opacity: 0.5;
		pointer-events: none;
	}
}
._spin-txt {
	background-image: linear-gradient(rgba(235, 248, 253, 1) 50%, rgba(134, 196, 221, 1));

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	-webkit-text-stroke: 1px rgba(93, 93, 93, 1);

	filter: drop-shadow(1px 2px 0px rgba(2, 93, 1, 0.73));
}
._spin-hold {
	position: relative;
	top: -5px;

	background-image: linear-gradient(rgba(235, 248, 253, 1) 50%, rgba(134, 196, 221, 1));

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	-webkit-text-stroke: 0.2px rgba(82, 164, 0, 1);

	filter: drop-shadow(1px 2px 0px rgba(2, 93, 1, 0.73));
}
//========================================================================================================================================================
