._fz-5 {
	font-size: 5px;
	line-height: 1.25;
}
._fz-7 {
	font-size: 7px;
	line-height: 1.25;
}
._fz-10 {
	font-size: 10px;
	line-height: 1.25;
}
._fz-11 {
	font-size: 11px;
	line-height: 1.25;
}
._fz-12 {
	font-size: 12px;
	line-height: math.div(15, 12);
}
._fz-13 {
	font-size: 13px;
	line-height: math.div(15, 12);
}
._fz-14 {
	font-size: 14px;
	line-height: math.div(17, 14);
}
._fz-15 {
	font-size: 15px;
	line-height: 1.4;
}
._fz-16 {
	font-size: 16px;
	line-height: 1.25;
}
._fz-17 {
	font-size: 17px;
	line-height: 1.25;
}
._fz-18 {
	font-size: 18px;
	line-height: 1.25;
}
._fz-19 {
	font-size: 19px;
	line-height: 1.25;
}
._fz-20 {
	font-size: 20px;
	line-height: 1.25;
}
._fz-22 {
	font-size: 22px;
	line-height: 1.25;
}
._fz-24 {
	font-size: 24px;
	line-height: 1.25;
}
._fz-25 {
	font-size: 25px;
	line-height: 1.25;
}
._fz-26 {
	font-size: 26px;
	line-height: 1.25;
}
._fz-27 {
	font-size: 27px;
	line-height: 1.25;
}
._fz-28 {
	font-size: 28px;
	line-height: 1.25;
}
._fz-32 {
	font-size: 32px;
	line-height: 1.25;
}
._fz-34 {
	font-size: 34px;
	line-height: 1.25;
}
._fz-36 {
	font-size: 36px;
	line-height: 1.25;
}
._fz-38 {
	font-size: 38px;
	line-height: 1.25;
}
._fz-40 {
	font-size: 40px;
	line-height: 1.25;
}
._fz-44 {
	font-size: 44px;
	line-height: 1.25;
}
._fz-45 {
	font-size: 45px;
	line-height: 1.25;
}
._fz-48 {
	font-size: 48px;
	line-height: 1.25;
}

._fw-400 {
	font-weight: 400;
}
._fw-500 {
	font-weight: 500;
}
._fw-600 {
	font-weight: 600;
}
._fw-700 {
	font-weight: 700;
}
._fw-800 {
	font-weight: 800;
}
._fw-900 {
	font-weight: 900;
}

._upper {
	text-transform: uppercase;
}
